.tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.dev-po {
        background: #ebebeb;
        background-image: url('img/nout.png');
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        padding: 25px; 

        .block__select {
            div {
                .label {
                    border-bottom: 3px solid #bfbcbc;
                }
            }
        }
    }

    .block__select {
        width: calc(100% / 2 - 25px);  
        min-height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 50px;
            min-height: unset;
            height: unset;
        }

        &.five {
            div {
                height: calc(100% / 5);
            }
        }

        div {
            display: flex; 
            align-items: center;  
            height: calc(100% / 3);



            @media (max-width: 768px) {
                height: 100px;
            }

            .label {
                padding: 0;
                width: 80%;
                height: 100%;
                border-bottom: 3px solid #ebebeb;
                display: flex;
                align-items: center; 

                @media (max-width: 768px) {
                    width: 85%; 
                    margin: 15px 0;
                }

                label { 
                    margin-right: 10%;
                    cursor: pointer;

                    a {
                        color: #006ce5;
                    }
                }
            }

            .input {
                width: 20%; 
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 768px) {
                    width: 15%; 
                }

                input {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    position: relative;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        background-color: white;
                        border: 2px solid #7a001b; 
                    }

                    &:checked::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #7a001b;
                        transform: translate(-50%, -50%);
                        visibility: visible;
                    }

                }
            }
        }
    }

    .block__content {
        width: calc(100% / 2 - 25px);
        background: #ebebeb;
        padding: 25px;
        
        @media (max-width: 768px) {
            width: 100%;
        }

        &.dev-po {
            margin: 50px 50px 50px 0;
            background: #ffffffc7;

            @media (max-width: 768px) {
                margin: 0;
            }
        }

        .tab {
            display: none;

            &.active {
                display: block;
            }

            p, ul {
                margin-bottom: 25px; 
            }

            ul {
                &.black__list {
                    list-style: none;
                    padding-left: 25px;
                    
                    @media (max-width: 430px) {
                        padding: 0; 
                    }

                    li {
                        position: relative;

                        &:before {
                            content: '\2713';
                            position: absolute;
                            font-size: 25px;
                            top: 4px;
                            left: -25px; 
                            line-height: 1;
                        }
                    }

                }
            }
        }
    }
}